<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dapurtempoedoeloe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash"
        android:usesCleartextTraffic="true">
        <activity android:name=".Riwayat"></activity>
        <activity
            android:name=".Pesanan"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dashboard" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Splash.NoActionBar" />
        <activity
            android:name=".Minuman"
            android:label="@string/title_activity_minuman"
            android:theme="@style/Theme.Splash.NoActionBar" />
        <activity
            android:name=".DetailMenu"
            android:label="@string/title_activity_detail_menu"
            android:theme="@style/Theme.Splash.NoActionBar" />
        <activity
            android:name=".Makanan"
            android:label="@string/title_activity_makanan"
            android:theme="@style/Theme.Splash.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Splash.NoActionBar" />
        <activity
            android:name=".LockActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/noTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>